name: systemd unitfile service testing

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  setup_env:
    uses: ./.github/workflows/setup-vagrant.yml
    with:
      os: ubuntu-latest

  test:
    needs: setup_env
    runs-on: ${{ needs.setup_env.outputs.os }}
    steps:
      - uses: actions/checkout@v3

      - name: install service
        run: |
          sudo mkdir -p /usr/lib/systemd/user
          sudo cp service /usr/lib/systemd/user/vboxdocker@.service

      - name: run test
        run: systemd-analyze --user verify vboxdocker@.service
