name: Vagrantfile testing

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  setup_env:
    uses: ./.github/workflows/setup-vagrant.yml

  test:
    needs: setup_env
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: run test
        run: vagrant validate
